body{
    background-color: #9CEE59;
}

#kistablazat{
    width: 980px;
    margin: 0 auto;
    border: none;
    background-color: #509050;
}
a:link a:hover a:active a:visited{
    color: #999999;
}
#masik{
    width: 940px;
    margin: 0 auto;
    background-color: white;
    border: none;
    border-spacing: 1px;
}
.fekete{
    height: 40pt;
    text-align: center;
    background-color: black;
    color: white;
}
span{
    font-weight: bold;
}
#gyomlalas{
    float: right;
    margin-right: 5pt;
    margin-left: 5pt;
    border: 1pt;
}